
 #card-product {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
#scroller{
  overflow: hidden;
  background-color: rgb(244, 243, 243);
  /* height: 70vh; */
  height: 100%;
  gap: 2rem;
  z-index: 1000;
  
}
#scroller1{
  overflow: hidden;
  background-color: rgb(244, 243, 243);
  height: 70vh;
  /* height: 100%; */
  gap: 2rem;
  z-index: 1000;
  
}
.main_page-card {
  height: 30vh;
}
.product-card-img {
  border-bottom: 10px solid rgb(34, 0, 255);

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  filter: contrast(35%);
}
.product-card-img2 {
  filter: brightness(90%);
  top: -100%;
}
.product-card-img2:hover {
  background-blend-mode: lighten;

  filter: brightness(100%);
}
.product-card-body {
  z-index: 100;
}
.bsheat {
  color: rgb(255, 255, 255);
}
.bsheat:hover {
  color: rgb(255, 0, 0);
}


